{
  "defaults": {
    "exchange": "binance",
    "lowPricePct": 0.85,
    "highPricePct": 0.975,
    "totalOrders": 20,
    "stdDevDividor": 1.75,
    "peakPosition": "middle"
  },
  "binance": {
    "apiKey": "",
    "secretKey": ""
  },
  "kucoin": {
    "apiKey": "",
    "secretKey": "",
    "password": ""
  },
  "bybit": {
    "apyKey": "",
    "secretKey": ""
  },
  "mexc": {
    "apiKey": "",
    "secretKey": ""
  },
  "okx": {
    "apiKey": "",
    "secretKey": "",
    "password": ""
  }
}
